<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bestride.waiterwork" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".HotelApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".LoginActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/StyledIndicators"/>

        <activity
            android:name=".ReportActivity_"
            android:label="@string/title_activity_report"
            android:theme="@style/myActionBarStyle"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity_" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bestride.waiterwork.MainActivity_" />
        </activity>

        <service
            android:name="com.bestride.comet.ICometService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <receiver
            android:name="com.bestride.comet.MessageReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter android:priority="1" >
                <action android:name="com.bestride.action.MESSAGE_ARRIVED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
